# --------------------------------------------------
# Manim Configuration File
# Optimized for 3D scenes, voiceovers, and updaters
# --------------------------------------------------

[CLI]
# renderer = opengl
background_color = BLACK
fps = 15
verbosity = INFO
disable_caching = FALSE